<!DOCTYPE html>

<html>
    <head>
        <title><PLACEHOLDER name="title"></title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/static/css/reset.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/folder.css">

        <meta property="og:title" content="<PLACEHOLDER name="title">" />
    </head>

    <body>

        <header>
            <a class="logo" href="/">
                    <p class="logo">dixonary</p>
            </a>
            <div class="row">
                <a href="/blog">Blog</a>
                <a href="/games">Games</a>
                <a href="https://github.com/dixonary">GitHub</a>
                <a href="https://twitter.com/dixonary_">Twitter</a>
            </div>
        </header>
        <main>
        <p class="dirname">
            <PLACEHOLDER name="title">
        </p>

        <PLACEHOLDER name="listing">
        </main>

    </body>


<!--
Available variables for directories:
    title
    listing

Use them with the INSERT name= format as above.
-->
