body {
    font-family: monospace;
}

h1, p {
    text-align:center;
}

.game {
    display:block;
    position:relative;
    width:1280px; 
    height:680px;
    left:50%;
    transform:translateX(-50%);
    margin:auto;
}
